<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="pl.karol202.bolekgame">
	
	<uses-permission android:name="android.permission.INTERNET"/>
	
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		
		<activity
			android:name=".control.ActivityMain"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".settings.ActivitySettings"
			android:label="@string/activity_settings"/>
		<activity
			android:name=".server.ActivityServer"
			android:label="@string/app_name"
			android:windowSoftInputMode="adjustResize"/>
		<activity
			android:name=".game.ActivityGame"
			android:label="@string/app_name"/>
	</application>
</manifest>
